#hero{
    background-image: url("/images/contact_background.jpg");
}
#hero .container h2 {
    color: black;
}

#hero .container h5 {
    color: rgb(169, 167, 167);
}
#contact-mid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
    align-items: center;
}

#contact-mid .details {
    display: flex;
    flex-direction: column;
    width: 39vw;
    margin-left: 3vw;
    justify-content: center;
}

#contact-mid .details h2 {
    margin: 0;
    font-size: x-large;
    font-weight: bolder;
}

#contact-mid .details h4 {
    font-size: 18px;
    margin: 16px 0;
}

#contact-mid .details h5 {
    color: rgb(106, 106, 106);
    font-size: 17px;
}

#contact-mid .details li {
    list-style: none;
    display: flex;
    margin: 8px 0;
}

#contact-mid .details i {
    margin-right: 12px;
    color: rgb(76, 76, 76);
}

#contact-mid .details p {
    margin: 0;
    font-size: 14px;
    color: rgb(78, 78, 78);
}

#contact-mid .map {
    width: 45%;
    height: 280px;

}

#contact-mid .map iframe {
    height: 100%;
    width: 100%;
}

#contact-part2{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: space-around;
    width: 95%;
    box-shadow: 0px 2px 10px #9f9e9e;
    margin: 20px 0;
    border-radius: 4px;
    padding-bottom: 30px;
}
#contact-part2 .from{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: 2vw;
}
#contact-part2 .from input,
#contact-part2 .from textarea{
    margin: 12px 0;
    width: 45vw;
    padding: 0 0.5em;
    height: 19px;
    font-size: 13px;
    font-weight: 500;
    color: #474646;
}
#contact-part2 .from textarea{
    height: 85px;
}
#contact-part2 .from input:focus,
#contact-part2 .from textarea:focus {
    outline: 0;
}
#contact-part2 .from h4{
    font-size: 13px;
    color: #494949;
    margin-top: 30px;
}
#contact-part2 .from h2{
    margin: 9px 0;
}
#contact-part2 .from button{
    width: max-content;
    padding: 5px 14px;
    border-radius: 4px;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: #088178;
    color: #fff;
}
#contact-part2 .from button:hover{
    box-shadow: 1px 2px 5px #4f4f4f;
}
#contact-part2 .profiles{
    margin-top: 10px;
    align-items: center;  
}
#contact-part2 .profiles img{
    height: 60px;
    width: 60px;
    border-radius: 39px;
}
#contact-part2 .profiles .indvidual{
    display: flex;
    margin-top: 30px;
}
#contact-part2 .profiles .indvidual p{
    margin: 0 15px;
    color: #494949;
    line-height: 19px;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
}
#contact-part2 .profiles .indvidual span{
    font-weight: 600;
    font-size: 18px;
    color: rgb(30, 30, 30);
}