#middle {
    background-image: url("/images/background1.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;

}
#middle h3{
    color:bisque;
}

#middle h2{
    color:rgb(241, 229, 120);
}
#middle button{
    /* background-image: url("/images/button.png"); */
    /* background-size: cover; */
    background-color:burlywood;
    border-radius: 16px;
    color: #088187;
    cursor: pointer;
     border: 0; 
    padding: 14px 80px 14px 65px;
     background-repeat: no-repeat;
    font-size: 15px;
    font-weight: 700;  
}

#container{
    margin: 25px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container .content-box{
    width: 180px;
    height: 200px ;
    text-align: center;
    padding: 5px 15px ;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.09);
    border: 1px solid #cce7d0;
    border-radius: 5px;
    margin: 5px 20px;
    cursor: pointer;
} 
#container .content-box:hover{
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.4);

}
.content-box h6{
    padding:  0;
    font-size: 20px;
    background-color: rgba(70, 62, 221, 0.1);
    border-radius: 6px;
    border:1px solid red;
}