#middle {
    background-image: url("/images/background1.jpg");
    background-size: cover;
    height: 100vh;
    background-position: top 20% right 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
}

#middle h3 {
    color: bisque;
}

#middle h2 {
    color: rgb(241, 229, 120);
}

#middle h4 {
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

#middle p {
    margin-bottom: 37px;
    font-size: 19px;
    font-weight: 500;
    color: #b70774;
}

#middle button {
    /* background-image: url("/images/button.png"); */
    /* background-size: cover; */
    background: transparent;
    border: 1px solid #272727;
    border-radius: 4px;
    color: #b9b9b9;
    cursor: pointer;
    padding: 10px 40px;
    font-weight: 700;
}

#middle button:hover {
    border: none;
    box-shadow: 1px 4px 8px rgba(26, 26, 26, 0.3);
}

#container {
    margin: 25px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#container .content-box {
    width: 140px;
    height: 194px;
    text-align: center;
    padding: 5px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.09);
    border: 1px solid #cce7d0;
    border-radius: 5px;
    margin: 5px 12px;
    cursor: pointer;
}

#container .content-box:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.4);

}

.content-box h6 {
    display: inline-block;
    margin: 23px 0;
    padding: 3px 9px;
    font-size: 20px;
    background-color: #fddde4;
    border-radius: 6px;
    border: 1px solid rgb(239, 176, 176);
}

.content-box:nth-child(2) h6 {
    background-color: #addee1;
}

.content-box:nth-child(3) h6 {
    background-color: #cde1ad;
}

.content-box:nth-child(4) h6 {
    background-color: #f9d6f6;
}

.content-box:nth-child(5) h6 {
    background-color: #fadac3;
}

#top-items,
#new-arrivals .new-items-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin: 0 5px;
    margin-bottom: 30px;

}

#top-para {
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-weight: 600;

}

#top-items .products,
#new-arrivals .products {
    width: 180px;
    background-color: #eff0f0;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    border-radius: 14px;
    padding: 12px 0;
    cursor: pointer;
    border: 1px solid #cfcfcf;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
}

#top-items .products:hover,
#new-arrivals .products:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);
}

#top-items .products img,
#new-arrivals .products img {
    height: 190px;
    width: 150px;
    border-radius: 25px;

}

.products {
    position: relative;
}

.des {
    text-align: start;
    margin-top: 15px;
    margin-left: 12px;
}

.des h4 {
    margin: 0;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #595959;

}

.des h6 {
    margin: 0;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 900;
    color: black;
}

.des i {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 800;
    color: rgb(243, 181, 25);

}

.des h5 {
    margin-bottom: 0;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 900;
    color: #088187;

}

#top-items .products .cart2,
#new-arrivals .new-items-container .products .cart2 {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088187;
    position: absolute;
    bottom: 6px;
    right: 12px;
}

#top-items .products .cart2:hover,
#new-arrivals .new-items-container .products .cart2:hover {
    background-color: #d2f6d7;
}

#service {
    background-image: url(/images/service.png);
    background-size: cover;
    height: 190px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#service div {
    text-align: center;
    padding: 10px 10px;
    color: white;
}

#service p {
    margin: 12px 0;
    color: #cbcaca;
    font-weight: 400;
}

#service h4 {
    font-size: 25px;
    font-weight: 700;
    margin: 15px 0;

}

#service span {
    color: #ed9de6;
}

#service button {
    margin: 5px 0;
    color: #080808;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    padding: 8px 19px;
    cursor: pointer;
    box-shadow: 8px 8px 16px rgba(230, 227, 227, 0.1);
    transition: 0.3s ease;
}

#service button:hover {
    background-color: #088187;
    color: #fff;
}

#new-arrivals .paragraph {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

#new-arrivals .paragraph h4 {
    margin: 0;
    margin-top: 45px;
    font-size: 49px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

#new-arrivals .paragraph h6 {
    margin-bottom: 12px;
    color: #bababa;
    font-weight: 600;
    margin-top: 7px;
    font-size: 17px;
}

#deals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#deals .box-container {
    width: 88vw;
    display: flex;
    flex-wrap: wrap;
}
#deals .box-container1{
    justify-content: space-between;
}
#deals .box-container2 {
    justify-content: space-between;
}

#deals .buy-get,
#deals .upcomming {
    height: 230px;
    margin: 20px 0px;
    background-size: cover;
    width: 33vw;
    align-content: center;
    padding: 0 50px;
}

#deals .upcomming {
    background-image: url(/images/sh2.jpg);
}

#deals .buy-get {
    background-image: url(/images/sh1.jpeg);
}

#deals .buy-get h4,
#deals .upcomming h4 {
    color: #363636;
    margin: 17px 0;
}

#deals .buy-get h3,
#deals .upcomming h3 {
    margin: 8px 0;
    font-size: 29px;
    font-weight: 700;
}

#deals .buy-get button,
#deals .upcomming button {
    padding: 8px 10px;
    background: transparent;
    border: 1.5px solid #e8f6ea;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

#deals .buy-get button:hover,
#deals .upcomming button:hover {
    transition: 0.7s ease;
    border: none;
    border-radius: 4px;
    /* background-color: #088187; */
    box-shadow: 1px 2px 5px #272727;
}

#deals .next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-size: cover;
    margin: 10px 0px;
    height: 160px;
    margin-bottom: 40px;

}

#deals .next h2 {
    margin: 8px 30px;
    color: #fbf9f9;
    font-weight: 600;
}

#deals .next h4 {
    margin: 8px 30px;
    color: rgb(102, 251, 231);
}

#deals .bar1 {
    background-image: url(/images/sh3.jpeg);
    width: 28vw;
}

#deals .bar2 {
    width: 31vw;
    background-image: url(/images/sh4.jpeg);
}

#deals .bar3 {
    background-image: url(/images/sh5.jpeg);
    width: 26vw;
}

#newsletter {
    display: flex;
    background-image: url(/images/newsletter.jpg);
    background-size: cover;
    height: 140px;
    align-items: center;
    position: relative;
}

#newsletter .text {
    margin-left: 77px;
}

#newsletter .text h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
}

#newsletter .text p {
    font-size: 16px;
    font-weight: 600;
    color: #454545;
}

#newsletter .text p span {
    color: #088187;
}

#newsletter .signup {
    display: flex;
    position: absolute;
    right: 77px;
}

#newsletter .signup input {
    height: 35px;
    width: 300px;
    padding: 0 1.25em;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(125, 125, 125);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter .signup button {
    width: 80px;
    border: none;
    border-radius: 4px;
    background-color: #088187;
    font-size: 14px;
    font-weight: 540;
    color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

#newsletter .signup button:hover {
    box-shadow: 1px 3px 9px #272727;
}

/* make responsive */

@media (max-width:799px) {
    #middle {
        height: 70vh;
        background-position: top 20% right 20%;
        padding-left: 40px;
        align-items: flex-start;
    }

    #middle button {
        padding: 8px 20px;
        color: #151515;
    }

    #container {
        margin: 25px 5px;
        justify-content: space-around;
    }

    #container .content-box {
        width: 140px;
        height: 194px;
        padding: 5px 11px;
        margin: 10px 5px;
    }

    .content-box h6 {
        padding: 5px 18px;
        font-size: 16px;
    }

    #top-items,
    #new-arrivals .new-items-container {
        padding: 0 5px;
        margin-bottom: 30px;
        justify-content: center;

    }

    #top-items .products,
    #new-arrivals .products {
        width: 155px;
        justify-content: center;
        align-items: center;
        margin: 8px 8px;
        padding: 12px 0;
    }

    #top-items .products img,
    #new-arrivals .products img {
        height: 150px;
        width: 120px;
    }

    #service {
        height: 150px;
    }

    #service h4 {
        font-size: 18px;
        font-weight: 600;
    }

    #service button {
        padding: 6px 15px;

    }

    #deals {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #deals .box-container {
        justify-content: center;
    }

    #deals .buy-get,
    #deals .upcomming {
        height: 200px;
        margin: 5px 0px;
        width: 100%;
        align-content: center;
        padding-left:  50px;
    }
        #deals .upcomming{
            background-position: top 30% left 0;
        }

    #deals .buy-get h3,
    #deals .upcomming h3 {
        font-size: 25px;
    }
    #deals .box-container {
    width: 90vw;
}
#deals .box-container1{
    justify-content: space-around;
}
#deals .box-container2{
    justify-content: space-between;
}

    #deals .next {
        margin: 10px 0;
        height: 140px;
        margin-bottom: 40px;
    }

    #deals .next h2 {
        margin: 8px 15px;
        font-size: 20px;
        font-weight: 500;
    }

    #deals .next h4 {
        margin: 8px 15px;
        font-size: 14px;
    }

    #deals .bar1 {
        width: 27vw;
    }

    #deals .bar2 {
        width: 30vw;
    }

    #deals .bar3 {
        width: 25vw;
    }

    #newsletter {
        background-position: right 90%;
        height: 140px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #newsletter .signup {
        position: static;
    }

    #newsletter .text {
        margin-left: 0px;
        text-align: center;
    }

    #newsletter .signup input {
        height: 26px;
        width: 220px;
        padding: 0 1.25em;
        font-size: 13px;

    }

    #newsletter .signup button {
        width: 60px;
        font-size: 12px;
    }
}


@media (max-width:499px) {
    #middle {
        height: 70vh;
        background-position: top 20% right 20%;
        padding: 0 2px;
        justify-content: center;
        align-items: center;
    }

    #top-items,
    #new-arrivals .new-items-container {
        justify-content: space-around;
        padding: 0 5px;
        margin-bottom: 30px;

    }

    #top-items .products,
    #new-arrivals .products {
        width: 44vw;
        justify-content: center;
        align-items: center;
        margin: 8px 4px;
        padding: 12px 0;
    }

    #top-items .products img,
    #new-arrivals .products img {
        height: 45vw;
        width: 35vw;
    }
    
    #deals .buy-get,
    #deals .upcomming {
        margin: 5px 0;
        width: 65vw;
    }
#deals .box-container {
    width: 88vw;
}
#deals .box-container1{
    justify-content: space-around;
}
#deals .box-container2{
    justify-content: space-between;
}
    #deals .next {
        margin: 10px 0;
        height: 140px;
        margin-bottom: 0;
    }

    #deals .bar1 {
        width: 40vw;
    }

    #deals .bar2 {
        width: 45vw;
    }

    #deals .bar3 {
        padding-left: 45px;
        width: 80vw;
        margin-bottom: 30px;
    }

    #newsletter {
        background-position: right 90%;
        height: 170px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}