body {
    padding: 0;
    margin: 0;
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #E3E6F3;
    padding: 3px 0;
    padding-left: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    z-index: 1;
}
#header #mobile{
    display: none;
    position: fixed;
    right: 20px ;
    top: 20px;
}
#header #mobile i{
    margin-left: 15px;
    margin-right: 5px;
    cursor: pointer;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

#navbar li {
    list-style: none;
    padding: 4px 16px;

}

#navbar li a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #1e1e1e;
    transition: 0.3s ease;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a::after {
    content: '';
    width: 0%;
    left: 20px;
    height: 2px;
    background-color: #088178;
    display: block;
    margin: auto;
    transition: 0.4s;
}

#navbar li a:hover::after {
    width: 100%;
}

#logo {
    height: 50px;
    border-radius: 300px;
    width: 50px;
}

#footer-section {
    background-image: url(/images/footer1.jpg);
    background-size: cover;
    margin-top: 5px;
    padding-top: 70px;
    padding-bottom: 5px;
}

#footer-section #column1 img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

#footer-section .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#footer-section .footer-last {
    text-align: center;
}

#footer-section .footer-last p {
    color: #393939;
    margin-bottom: 5px;
    font-weight: 600;
}

#footer-section .footer-content a {
    text-decoration: none;
}

#footer-section .col h3 {
    color: #141414;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#footer-section .col p,
#footer-section .col a {
    color: #393939;
    font-weight: 540;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#footer-section .col a:hover {
    color: #086a2f;
}

#footer-section .col p span {
    color: #3a3a3a;
    font-weight: bold;
}

#footer-section .fa-facebook:hover {
    color: rgb(49, 145, 242);
}

#footer-section .fa-instagram:hover {
    color: #ed294d;
}

#footer-section .fa-whatsapp:hover {
    color: #54f561;
}

#footer-section .fa-x-twitter:hover {
    color: #0b0b0b;
}

/* make responsive */

@media (max-width:799px){

    #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    padding: 0;
    padding-top: 15px;
    top: 60.35px;
    right: -300px;
    height: 100%;
    width: 200px;
    background-color: #b4b4b5;
    margin: 0;
    border: none;
    border-radius: 9px;
    border-top-right-radius: 0;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}
#navbar li{
    margin-bottom: 10px;
    margin-left: 8px;
}
#header #wishlist,
#header #my-cart{
    display: none;
}
#header #mobile{
    display: flex;
}
}
.active2{
    right: 0 !important;
}