body {
    padding: 0;
    margin: 0;
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #E3E6F3;
    padding: 3px 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    z-index: 1;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 4px 16px;

}

#navbar li a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #1e1e1e;
    transition: 0.3s ease;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a::after {
    content: '';
    width: 0%;
    left: 20px;
    height: 2px;
    background-color: #088178;
    display: block;
    margin: auto;
    transition: 0.4s;
}

#navbar li a:hover::after {
    width: 100%;
}

#logo {
    height: 50px;
    border-radius: 300px;
    width: 50px;
}

#footer {
    display: flex;
    background-color: #E3E6F3;
    align-items: center;
    justify-content: center;
    border: 1px solid #d1d8f7;
    border-radius: 5px;

}