#hero{
    display: flex;
    margin: 0;
    background-image: url(/images/shop-page2.jpg);
    background-size: cover;
    height: 32vh;
    width: 100%;
    background-position: top 20% left 0;
    justify-content: center;
    align-items: center;
}
#top-items{
    margin-bottom: 22px;
}
#top-items .products{
    margin-bottom: 0;
}
#hero .container{
    text-align: center;
}
#hero .container h2{
    color: rgb(247, 224, 224);
    margin: 10px 0;
    font-size: 30px;
    font-weight: 600;
}
#hero .container h5{
        margin: 15px 0;
    color: rgb(237, 237, 237);
    font-size: 16px;
}
#page-change{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 20px;
}
#page-change a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 13px;
    border-radius: 3px;
    background-color: #088178;
    color: azure;
    margin: 0 3px;

}
#page-change a:hover{
    box-shadow: 2px 2px 5px black;
}